*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
.container {
    width:80%;
   
    margin: auto;    
}
.flex {
    display: flex;  
    justify-content: space-between;
    align-items: center;
}
nav{
    padding: 20px 0; 
}
ul{
    list-style-type: none ;
}
a{
    text-decoration: none;
}
.active{
    font-weight: bold;
}
ul.flex{
    gap: 40px; 
}
.nav-link{
    font-size: 18px;
    color:#1F1534 ;
    text-transform: capitalize;
}